<div>
    <h1 class="mb-4">Search repositories</h1>
    <app-repos-search-form (submitForm)="searchRepos($event)"></app-repos-search-form>

    <div class="table-container mt-5">
        <app-table
            [headers]="headers"
            [rowTemplate]="rowTemplate"
            [data]="repositories"
        >
            
        </app-table>
    </div>
    
</div>


<ng-template #rowTemplate let-entry>
    <td>
        {{entry.full_name}}
    </td>
    <td>
        <img height="50" [src]="entry.owner.avatar_url" />
    </td>
    <td>
        {{entry.created_at}}
    </td>
</ng-template>