<div>
    <h1 class="mb-4">Search repositories</h1>
    <app-repos-search-form (reposSubmitForm)="searchRepos($event)" (issuesSubmitForm)="searchReposByIssue($event)"></app-repos-search-form>

    <div class="table-container mt-5">
        <app-table
            [headers]="headers"
            [rowTemplate]="rowTemplate"
            [data]="repositories"
            [loading]="loading"
            loadingLabel="Caricamento..."
        >   
        </app-table>
        <div *ngIf="!loading && searched && repositories?.length === 0">No data found.</div>
        <div *ngIf="repositories === null">Type something on the above form to press the "Search" button to start a research.</div>
    </div>
</div>


<ng-template #rowTemplate let-entry>
    <td [routerLink]="['/commits', entry.owner.login, entry.name]">
        {{entry.full_name}}
    </td>
    <td>
        <img height="50" [src]="entry.owner.avatar_url" />
    </td>
    <td>
        {{entry.created_at | date:'fullDate'}}
    </td>
</ng-template>