<div>
    <h1 class="mb-4">Search {{owner}}/{{repo}} commits </h1>
    <app-commits-search-form (commitsSubmitForm)="searchCommits($event)"></app-commits-search-form>

    <div class="table-container mt-5">
        <app-table
            [headers]="headers"
            [rowTemplate]="rowTemplate"
            [data]="commits"
            [loading]="loading"
        >   
        </app-table>
        <div *ngIf="!searched">Puoi effettuare una ricerca dei repository utilizzando il form in alto.</div>
    </div>
    
</div>


<ng-template #rowTemplate let-entry>
    <td>
        {{entry.commit.author.name}}
    </td>
    <td>
        <a target="_blank" [href]="entry.html_url">See commit page</a>
    </td>
    <td class="message-col">
        {{entry.commit.message}}
    </td>
</ng-template>